.container {
  height: 250px;
  width: 450px;
  display: grid;
  grid-template: 1 / 1;
  font-size: 6rem;
}

.slide {
  grid-area: 1 / 1;
  transition: all 0.3s 0.3s cubic-bezier(0.5, 0, 0.5, 1);
  transition-property: opacity, transform;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
}

.slide[hidden] {
  transition-delay: 0s;
  opacity: 0;
  transform: scale(0.8);
}