.button {
  font-weight: bold;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
}
.admin-button {
  color: white;
  background-color: green;
  padding: 15px;
}
.user-button {
  color: black;
  background-color: yellow;
  padding: 15px;
}

