.App {
  text-align: center;
}

.button {
  width: 100px;
  padding:10px
}

.modal-button {
  margin-top: 20px;
}

.image {
  transition: all 0.3s 0.3s cubic-bezier(0.5, 0, 0.5, 1);
  transition-property: opacity, transform;
}

.modal {
  width: 100vw; 
  height: 100vh;
  transform: scale(0);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top:0;
  left:0;
}

.modal.active {
  transform: scale(1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  padding: 20px;
  background-color: #fff;
}

.input {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 15px;
}


.text {
  display: flex;
  align-items: center;
  justify-content: center; 
}

.close-button {
  width:30px;
  margin-bottom: 20px;
  cursor: pointer;
  justify-content:flex-end;
  right: 0;
}

.alert-danger {
  background-color:red;
  padding: 10px
}

.error {
  color:#db2269;
  font-size: 0.625em;
  display: relative;
}